Webform {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    float:right;
}

Customer Information {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    float:right;
}